
<ul class="unstyled">
  {{#each model as |meal|}}
    <li>
      {{#link-to 'meal' meal}}
        <h3>{{meal.description}}</h3>
      {{/link-to}}
      <span>{{meal.calories}} calories on {{formatted-date meal.day 'MMMM Do, YYYY'}}</span> 
    </li>
  {{else}}
    <li>No meals found.</li>
  {{/each}}
</ul>
