<ul>
  {{#each meal in model}}
    <li>
      {{#link-to 'meal' meal}}
        {{meal.description}},
        {{meal.calories}} calories
      {{/link-to}}
    </li>
  {{else}}
    <li>No meals found.</li>
  {{/each}}
</ul>
