<h1>{{description}}</h1>

<dl>
  <dt>Calories</dt>
  <dd>{{calories}}</dd>
</dl>

<p>
  Day eaten at: {{formatted-date day 'MMMM Do, YYYY'}}
  <br>
  Hour eaten at: {{formatted-date hour 'h:mm a'}}
</p>
