<h1>{{model.description}}</h1>
<dl>
  <dt>Calories</dt>
  <dd>{{model.calories}}</dd>
</dl>

<p>
  Day eaten at:  {{formatted-date model.day 'MMMM Do, YYYY'}}
  <br>
  Hour eaten at: {{formatted-date model.hour 'hh:mm:ss'}}
</p>
